crontab



*/5 * * * * /root/git/valig-scripts/check_dz.sh 2>&1 | logger -t check_dz
*/5 * * * * ( sleep 15 ; /root/git/valig-scripts/check_sol.sh 2>&1 | logger -t check_sol )
*/5 * * * * ( sleep 30 ; /root/git/valig-scripts/check_yellowstone.sh 2>&1 | logger -t check_yellowstone )

0 */3 * * * /root/git/valig-scripts/pin.sh 2>&1 | logger -t pin
0 * * * * /root/git/valig-scripts/snapshots.sh 2>&1 | logger -t snapshots